body{
    background-image: url("http://www.winwalls.ru/min/201305/19405.jpg");
}

.hist{
    margin-top: 360px;
    margin-left: 15px;
}
#prim{
    display: inline;
}#seg{
    display: none;
}

.arrow{
    width: 70px;
    height: 70px;
    margin-left: 0px;
    margin-right: 20px;
    transform: rotate(180deg);
    opacity: 0.5;
}
.arrow2{
    width: 70px;
    height: 70px;
    margin-left: 1px;
    margin-right: 20px;
    float: right;
    opacity: 0.5;
    margin-top: 10px;
}
.arrow:hover{
    opacity: 1;
}.arrow2:hover{
    opacity: 1;
}
